{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
</head>
<body>
    <div class="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>My Blog</h2>
            <p>Stay updated with the latest posts!</p>
            <p>I've written {%  total_posts %} posts so far.</p>
        </div>
    </div>
</body>
</html>
